body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
}


p,
h1,
h2 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.Logo {
  padding-top: 60px;
  display: block;
  padding-bottom: 20px;
  align-content: center;
  background-color: transparent;
}

.Menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li{
    list-style-type: none;
}

.Menu a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  color: black;
  margin: 20px;
  padding: 14px;
  border-radius: 4px;
}

.ConteudoPrincipal {
  display: grid;
  grid-template-columns: 2fr 2fr;
  max-width: 1000px;
}

img {
  max-width: 100%;
  display: block;
}

.Introducao {
  display: grid;
  text-align: right;
  padding: 40px;
  position: relative;
  align-content: center;
  gap: 20px;
  background-color: #fff;
}

.Introducao h1 {
  text-align: right;
}

.Introducao p {
  text-align: right;
}

.Introducao a {
  text-decoration: none;
  background-color: #ee2211;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  place-self: end;
  text-transform: uppercase;
}

.detalhe {
  height: 4px;
  width: 60px;
  background-color: #ee2211;
  position: absolute;
  right: -30px;
  top: 30px;
}

.VantagensTitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: rgb(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  background-color: #f7f7f7;
  align-self: center;
  max-width: 100%;
}

.Vantagens {
  padding: 40px;
  background-color: #fff;
}

.items {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.items p{
    grid-column: 2;
}

.rodape {
    background-color: #fff;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}
